<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hr">
<head>
    <title>cost.ly</title>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
            font-size: large;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
        }

        #carouselExampleIndicators{
            width: 430px;
            margin: auto;
        }
    </style>
</head>
<body>

<!-- Navbar (sit on top) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand"><img th:src="@{/img/logo.png}" width="60px" height="60px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="https://gitlab.com/zeroinfinityfer">ZeroInfinity <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page content -->
<div style="height: 90%;">

    <!-- About Section -->
    <div class="row padding-64" id="about">
        <div class="col-sm-12 col-md-12 col-lg-5 padding-large hide-small">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#" data-slide-to="0" class="active"></li>
                    <li data-target="#" data-slide-to="1"></li>
                    <li data-target="#" data-slide-to="2"></li>
                    <li data-target="#" data-slide-to="3"></li>
                    <li data-target="#" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Primjeri</h5>
                    </div>
                    <div class="carousel-item active">
                        <img class="d-block w-100" height="800px"  th:src="@{/img/screen-1.jpeg}" alt="Slide 1">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" height="800px"  th:src="@{/img/screen-2.jpeg}" alt="Slide 2">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" height="800px"  th:src="@{/img/screen-3.jpeg}" alt="Slide 3">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" height="800px"  th:src="@{/img/screen-4.jpeg}" alt="Slide 4">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" height="800px"  th:src="@{/img/screen-5.jpeg}" alt="Slide 5">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Predhodna</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Sljedeća</span>
                </a>
            </div>
        </div>

        <div class="col-lg-7 padding-large" style="margin-top: 10vh">
            <h1 class="center">O aplikaciji</h1><br>
            <h5 class="center">ZeroInfinity 2019</h5>
            <p class="large">Cost.ly je aplikacija za praćenje privatnih i grupnih financijskih statistika, planiranje štednje te periodično savjetovanje kako poboljšati način na koji korisnik raspodjeljuje svoj novac.</p>
            <p class="large">Skup korisnika koji bi mogli biti zainteresirani za cost.ly aplikaciju su osobe svih dobnih skupina koje žele uštedjeti na način da prate povijest svojih troškova. Aplikacija je korisna i
                za skupinu ljudi poput obitelji, prijatelja ili suradnika u slučaju da žele na jednom mjestu pratiti zajedničke financijske statistike.</p>

            <div class="col-3 mx-auto" href="https://gitlab.com/zeroinfinityfer">
                <img th:src="@{/img/logo2.png}" width="150px" height="50px"/>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

</body>
</html>